/*html,*/
/*body {*/
    /*height: 100%;*/
/*}*/

/*.wrap {*/
    /*min-height: 100%;*/
    /*height: auto;*/
    /*margin: 0 auto -60px;*/
    /*padding: 0 0 60px;*/
/*}*/

/*.wrap > .container {*/
    /*padding: 70px 15px 20px;*/
/*}*/

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

#searchfree-date_begin {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 24px 6px 12px;
}

.field-searchfree-date_begin .control-label {
    display: block;
}

.select2-container--krajee .select2-selection--single {
    width: 300px;
}

.form-group.btn-search {
    margin-bottom: -10px;
}

.navbar-inverse {
    background-color: #03a9f4;
}

.navbar-nav.navbar-right.nav > li > a, .navbar-brand {
    color: #fff !important;
}

.searchfreereservationinfo-form {
    align-content: center;
    position: absolute;
    z-index: 999;
    top: 70px;
}

.searchfreereservationinfo-form .container{
    width: auto;
}

.navbar-fixed-top {
    border-width: 0;
    top: 0;
}
.carousel-background {
    z-index: -9999;
}

.navbar.navbar-default {
    color: #fff !important;
    background-color: rgba(245, 245, 245, 0);
}
.objreservation-content {
    position: absolute;
    top: 200px;
}
.objreservation-content > h4 {
    color: white;
}